table{
    border-collapse: collapse;
    width:50%;
    text-align:center;
    border:solid 1px black;
    margin:auto;
}

td,th{
    border:solid 1px black;
}

thead{
    background-color:green;
    color:white;
}
tr{
    height:40px;
}
tr:nth-child(even) {
    background-color:#f5c8c8;
  }
  tr:hover{
    background-color:orange;
  }

  tfoot{
    background-color:#e9cee9;
    font-weigth:bold;
  }

  tr > th:hover{
    background-color:red;
  }
  caption{
    color:red;
  }